<% include partials/header.ejs %>

<h1>注册新账户</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="用户名">
    <input type="password" name="password" placeholder="密码">
    <button>Sign Up</button>
</form>

<% include partials/footer.ejs %>