<% include partials/header.ejs %>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>欢迎来到RedPoint</h1>
                <p>你可以在这里找到并评论全东京最正宗的中餐馆！</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/restaurants/new">添加新的餐馆</a>
                </p>
            </div>
        </header>

        <div class="row text-center" style="display: flex; flex-wrap:wrap">
            <% restaurantDatas.forEach(function(restaurants){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= restaurants.restaurantImage %>" alt="picture">
                        <div class="caption">
                                <h4><%= restaurants.restaurantName %></h4>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>

    </div>

<% include partials/footer.ejs %>