<% include partials/header.ejs %>
    <h1><%= restaurant.restaurantName%></h1>
    <img src="<%= restaurant.restaurantImage %>">
    <p><%= restaurant.description%></p>
<% include partials/footer.ejs %>